{% extends 'reddit/base.html' %}

{% block content %}
    {% if links %}
        <ul>
        {% for link in links %}
            <p> 
                <h3><a href="{{link.url}}" target="_blank">{{ link.title_text }}</a></h3>
                {% if user.is_authenticated %}
                <space><space>
                <a href="{% url 'reddit.views.link_edit' pk=link.pk %}"> (edit)</a>
                <space><space>
                <a href="{% url 'reddit.views.link_delete' pk=link.pk %}"> (delete)</a>
                {% endif %}
            </p>
        {% endfor %}
        </ul>
    {% else %}
        <p>No links are available.</p>
    {% endif %}

    {% if user.is_authenticated %}
        <p>New Link</p>
        <form method="POST" class="post-form">
        {{ form.as_p }}
        <a class="btn btn-default" href="{% url 'reddit.views.link_new' %}">Add</a>
        </form>
    {% endif %}
{% endblock content %}