{% extends 'reddit/base.html' %}

{% block content %}
    <p>List of links:</p>
    {% if links %}
        <ul>
        {% for link in links %}
            <li>
                <a href="{{link.url}}" target="_blank">{{ link.title_text }}</a>
                <space><space>
                <a href="{% url 'reddit.views.link_edit' pk=link.pk %}"> (edit)</a>
                <space><space>
                <a href="{% url 'reddit.views.link_delete' pk=link.pk %}"> (delete)</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No links are available.</p>
    {% endif %}

    {% if user.is_authenticated %}
        <p>New Link</p>
        <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
        </form>
    {% endif %}
{% endblock content %}