{% extends 'reddit/base.html' %}

{% block content %}
    <h3><a href="{% url 'reddit.views.link_detail' pk=link.pk %}">{{ link.title_text }}</a></h3>
    posted by <author>{{ link.author.username }} </author> </br>
    <a href="{{link.url}}" target="_blank">visit link</a>
    <a href="{% url 'reddit.views.upvote' pk=link.pk %}">like</a>: {{ link.upvote }} |  
    <a href="{% url 'reddit.views.downvote' pk=link.pk %}">dislike</a>: {{ link.downvote }}

    {% if user.is_authenticated and user.username == link.author.username %}
        <a href="{% url 'reddit.views.link_edit' pk=link.pk %}"> (edit)</a>
        <a href="{% url 'reddit.views.link_delete' pk=link.pk %}"> (delete)</a>
    {% endif %}

    <div class = "comment_block">
        <h3>Comment</h3>
        {% for comment in comments %}
            <li>
                <p>{{ comment.content_text }}<br>
                Posted by <author> {{ comment.author.username }}</author> at {{ comment.post_date }}
                </p>
            </li>
        {% endfor %}

        <div class="comment_input">
            <form method="POST" action="{% url 'reddit.views.comment_add' pk=link.pk %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type = "submit" value="Comment">
            </form>
        </div>
    </div>


{% endblock content %}